**/*.pyc
*.sqlite
media
node_modules
static
bin
scripts
tests
.env
.env.example
*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/*
.DS_Store
.git/
.sass-cache
__pycache__
dist
docs
env
logs
/**/local.py
stats
Dockerfile
.gitignore
docker-compose.yaml
docker-compose.dev.yaml
Procfile
README.md
.venv
venv
.json
